@import "normalise.css";

/* App chrome styling */

body {
    font-size: 24px;
}

header {
    background-color: #aaa;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    line-height: 1.6;
}
header > h1 {
}
header > nav {
}
header > nav > ol {
    display: flex;
    justify-content: flex-end;
}
header > nav > ol > li {
    margin-left: 5px;
    display: inline;
    text-align: right;
}
header > nav > ol > li > button > b {
    position: absolute;
    left: -9999px;
}
header > nav > ol > li {
    background: #d9d9d9;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 0 10px;
}
header > nav > ol > li.shopping-list {
    background-color: yellow; /* For Spencer */
    border-color: #770;
}
header > nav > ol > li.shopping-list button:before {
    content: "\1f6d2";
    margin-right: 10px;
}
header > nav > ol > li button {
    background: transparent;
    border: 0;
}
header > nav > ol > li.search button:before {
    content: "\1f50e";
}
#content {
    padding: 5px;
}

/* Fairly common across screens */

#content button {
    border: 1px solid black;
    border-radius: 5px;
    background: lightgray;
    padding: 0 5px;
}

#content > div > h2 {
    margin: 10px 0;
    font-family: sans-serif;
}

/* Shopping list */

#content .shopping-list > h2 > button {
    float: right;
}

#content .shopping-list > ol.recipes {
    display: none;
}

#content .shopping-list > ol.recipes.recipe-list-open {
    display: block;
}

#content .shopping-list > ol.recipes > li {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#content .shopping-list > ol.recipes > li > .quantity {
    display: flex;
}

#content .shopping-list > ol.recipes > li > .quantity:before {
    display: inline;
    content: "\2a09";
}

#content .shopping-list > ol.groups > li {
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#content .shopping-list > ol.groups > li > h3 {
    background-color: lightgray;
    padding: 5px;
    font-family: sans-serif;
}

#content .shopping-list > ol.groups > li.unclassified > h3 {
    position: absolute;
    left: -9999px;
}

#content .shopping-list > ol.groups > li > ol.items > li {
    margin: 5px;
    padding: 0 5px;
}

#content .shopping-list > ol.groups > li > ol.items > li:after {
    margin-bottom: 5px;
}

#content .shopping-list > ol.groups > li > ol.items > li:after {
    content: " ";
    display: table;
    clear: both;
}

#content .shopping-list > ol.groups > li > ol.items > li.i-have-this > p:first-child:before {
    content: "\2714";
    padding-right: 5px;
}

#content .shopping-list > ol.groups > li > ol.items > li > p > button {
    float: right;
    border: none;
    background: transparent;
}

#content .shopping-list > ol.groups > li > ol.items > li.recipe-use-open {
    outline: 1px dashed black;
    padding-bottom: 5px;
}

#content .shopping-list > ol.groups > li > ol.items > li > button,
#content .shopping-list > ol.groups > li > ol.items > li > ol.recipe-use {
    display: none;
}

#content .shopping-list > ol.groups > li > ol.items > li.recipe-use-open > button,
#content .shopping-list > ol.groups > li > ol.items > li.recipe-use-open > ol.recipe-use {
    display: block;
}

#content .shopping-list > ol.groups > li > ol.items > li > button.i-have-this {
    margin: 15px 0 15px;
    width: 100%;
    text-align: center;
}

#content .shopping-list > ol.groups > li > ol.items > li > ol.recipe-use {
    color: gray;
}

#content .shopping-list > ol.groups > li > ol.items > li > ol.recipe-use a {
    color: inherit;
}

#content .shopping-list > footer {
    font-family: sans-serif;
    margin-top: 10px;
    padding: 5px;
}

/* Prototype popup:

<div id='popup'>
  <p>
    Shopping for <span>bacon hash</span>
    <i class='quantity'>2<b> times.</b></i>
    <button class='decrease'>-</button> <button class='increase'>+</button>
  </p>
</div>

 */

body.shopping-list #popup {
    position: absolute;
    top: 25%;
    left: 10px;
    right: 10px;
    width: auto;

    border: 1px solid black;
    border-radius: 5px;
    background: lightgray;

    padding: 10px;
    min-height: 35%;
}

body.shopping-list #popup > p {
    font-family: sans-serif;
    text-align: center;
}

body.shopping-list #popup > p > span {
    font-weight: bold;
}

body.shopping-list #popup > p > i.quantity {
    display: block;
    margin: 20px 0;
    font-size: 400%;
    font-family: serif;
}

body.shopping-list #popup > p > i.quantity:before {
    content: "\2a09";
}

body.shopping-list #popup > p > i.quantity > b {
    position: absolute;
    left: -9999px;
}

body.shopping-list #popup > p > button {
    font-size: 400%;
    min-width: 25%;
    display: inline;
    border: 1px solid black;
    border-radius: 5px;
    background: lightgray;
    padding: 0 5px;
}

body.shopping-list #popup > p > button.increase {
    margin-left: 10%;
}

/* Search */

#content .search > form {
}

#content .search > form > input {
    width: calc(100% - 12px); /* padding + border */
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 0 10px;
    padding: 0 5px;
}

#content .search > form > button {
    margin-bottom: 30px;
}

#content .search #results-or-examples > ol.samples {
    margin: 10px 0;
}

#content .search #results-or-examples > ol.samples > li {
}

#content .search #results-or-examples > ol.samples > li > a {
    display: block;
    padding: 5px 20px;
    color: gray;
    text-decoration: none;
}

#content .search #results-or-examples > ol.results {
}

#content .search #results-or-examples > ol.results > li {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 10px 10px;
    margin-bottom: 10px;
}

#content .search #results-or-examples > ol.results > li > h2 {
    font-family: sans-serif;
}

#content .search #results-or-examples > ol.results > li > p.serves {
    margin-bottom: 20px;
}

#content .search #results-or-examples > ol.results > li > p.serves > b {
    position: absolute;
    left: -9999px;
}

#content .search #results-or-examples > ol.results .ingredients > ol > li {
    margin-bottom: 5px;
}

#content .search #results-or-examples > ol.results > li > button {
    background: yellow;
    margin-top: 20px;
    padding: 5px 10px;
}
#content .search #results-or-examples > ol.results > li > button:before {
    content: "\1f6d2";
    margin-right: 10px;
}

/* We don't show the h3s (list titles anywhere, but we'll show steps
 * on larger devices.
 */
#content .search #results-or-examples > ol.results .ingredients > h3,
#content .search #results-or-examples > ol.results .steps > h3,
#content .search #results-or-examples > ol.results .steps {
    position: absolute;
    left: -9999px;
}

@media (min-width: 768px) {
    #content .search #results-or-examples > ol.results .ingredients {
        columns: 2;
    }
    #content .search #results-or-examples > ol.results .steps {
        position: relative;
        left: 0;
        margin-top: 20px;
    }
    #content .search #results-or-examples > ol.results .steps > ol {
        counter-reset: recipe-steps-counter;
    }
    #content .search #results-or-examples > ol.results .steps > ol > li {
        list-style: none;
        counter-increment: recipe-steps-counter;
    }
    #content .search #results-or-examples > ol.results .steps > ol > li::before {
        content: counter(recipe-steps-counter) ". ";
    }
    #content .search #results-or-examples > ol.results .steps > ol > li.prep {
        counter-reset: recipe-steps-counter;
        counter-increment: none;
    }
    #content .search #results-or-examples > ol.results .steps > ol > li.prep::before {
        content: "P. ";
    }
}
