@import "normalise.css";

/* App chrome styling */

body {
    font-size: 24px;
    color: #181818;
    font-family:
        'Palatino',
        'Book Antiqua',
        'Bookman Old Style',
        'Baskerville',
        'Garamond',
        'Apple Garamond',
        'New Century Schoolbook',
            serif;
    position: relative;
    padding-top: 45px;
}

header {
    background-color: #aaa;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    line-height: 1.6;
    position: fixed;
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: -45px;
    z-index: 2;
}
header > h1 {
    font-family: sans-serif;
    font-weight: bold;
}
header > nav {
}
header > nav > ol {
    display: flex;
    justify-content: flex-end;
}
header > nav > ol > li {
    margin-left: 5px;
    display: inline;
    text-align: right;
}
header > nav > ol > li > button > b {
    position: absolute;
    left: -9999px;
}
header > nav > ol > li {
    background: #d9d9d9;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 0 10px;
}
header > nav > ol > li.shopping-list {
    background-color: yellow; /* For Spencer */
    border-color: #770;
}
header > nav > ol > li.shopping-list button:before {
    content: "\1f6d2";
    margin-right: 10px;
}
header > nav > ol > li button {
    background: transparent;
    border: 0;
}
header > nav > ol > li.search button:before {
    content: "\1f50e";
}
#content {
    padding: 5px;
    position: relative;
}

/* Fairly common across screens */

#content button {
    border: 1px solid black;
    border-radius: 5px;
    background: lightgray;
    padding: 0 5px;
}

#content > div > h2 {
    margin: 10px 0;
    font-family: sans-serif;
    font-weight: bold;
}

/* Shopping list */

#content .shopping-list > h2 > button {
    float: right;
}

#content .shopping-list > ol.recipes {
    display: none;
}

#content .shopping-list > ol.recipes.recipe-list-open {
    display: block;
}

#content .shopping-list > ol.recipes > li {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#content .shopping-list > ol.recipes > li > .quantity {
    display: flex;
}

#content .shopping-list > ol.recipes > li > .quantity:before {
    display: inline;
    content: "\2a09";
}

#content .shopping-list > ol.groups > li {
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#content .shopping-list > ol.groups > li > h3 {
    background-color: lightgray;
    padding: 5px;
    font-family: sans-serif;
}

#content .shopping-list > ol.groups > li.unclassified > h3 {
    position: absolute;
    left: -9999px;
}

#content .shopping-list > ol.groups > li > ol.items > li {
    margin: 5px;
    padding: 0 5px;
}

#content .shopping-list > ol.groups > li > ol.items > li:after {
    margin-bottom: 5px;
}

#content .shopping-list > ol.groups > li > ol.items > li:after {
    content: " ";
    display: table;
    clear: both;
}

#content .shopping-list > ol.groups > li > ol.items > li.i-have-this > p:first-child:before {
    content: "\2714";
    padding-right: 5px;
}

#content .shopping-list > ol.groups > li > ol.items > li > p > button {
    float: right;
    border: none;
    background: transparent;
}

#content .shopping-list > ol.groups > li > ol.items > li.recipe-use-open {
    outline: 1px dashed black;
    padding-bottom: 5px;
}

#content .shopping-list > ol.groups > li > ol.items > li > button,
#content .shopping-list > ol.groups > li > ol.items > li > ol.recipe-use {
    display: none;
}

#content .shopping-list > ol.groups > li > ol.items > li.recipe-use-open > button,
#content .shopping-list > ol.groups > li > ol.items > li.recipe-use-open > ol.recipe-use {
    display: block;
}

#content .shopping-list > ol.groups > li > ol.items > li > button.i-have-this {
    margin: 15px 0 15px;
    width: 100%;
    text-align: center;
}

#content .shopping-list > ol.groups > li > ol.items > li > ol.recipe-use {
    color: gray;
}

#content .shopping-list > ol.groups > li > ol.items > li > ol.recipe-use a {
    color: inherit;
}

#content .shopping-list > footer {
    font-family: sans-serif;
    margin-top: 10px;
    padding: 5px;
}

/* Shopping list popup to adjust times we're cooking a recipe */

#content .shopping-list > #popup {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    background: white;

    padding: 30px 10px 10px;
}

#content .shopping-list > #popup > p {
    font-family: sans-serif;
    text-align: center;
}

#content .shopping-list > #popup > p > span {
    font-weight: bold;
}

#content .shopping-list > #popup > p > i.quantity {
    display: block;
    margin: 20px 0;
    font-size: 400%;
    font-family: serif;
}

#content .shopping-list > #popup > p > i.quantity:before {
    content: "\2a09";
}

#content .shopping-list > #popup > p > i.quantity > b {
    position: absolute;
    left: -9999px;
}

#content .shopping-list > #popup > p > button {
    font-size: 400%;
    min-width: 25%;
    display: inline;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
}

#content .shopping-list > #popup > p > button.increase {
    margin-left: 10%;
}

#content .shopping-list > #popup > button {
    margin: 40px auto 0;
    display: block;
    font-size: 200%;
}

/* Search */

#content .search > form {
}

#content .search > form > input {
    width: calc(100% - 12px); /* padding + border */
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 0 10px;
    padding: 0 5px;
}

#content .search > form > button {
    margin-bottom: 30px;
}

#content .search #results-or-examples > ol.samples {
    margin: 10px 0;
}

#content .search #results-or-examples > ol.samples > li {
}

#content .search #results-or-examples > ol.samples > li > a {
    display: block;
    padding: 5px 20px;
    color: gray;
    text-decoration: none;
}

#content .search #results-or-examples > ol.results {
}

#content .search #results-or-examples > ol.results > li {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px 10px 10px;
    margin-bottom: 10px;
}

#content .search #results-or-examples > ol.results > li h2 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.2em;
}

#content .search #results-or-examples > ol.results > li h2 a {
    border-bottom: 2px solid #993;
}

#content .search #results-or-examples > ol.results > li h2 a:focus,
#content .search #results-or-examples > ol.results > li h2 a:hover {
    background: #993;
    color: white;
}

#content .search #results-or-examples > ol.results > li > p.serves > b {
    position: absolute;
    left: -9999px;
}

#content .search #results-or-examples > ol.results .ingredients > ol > li {
    margin-bottom: 5px;
}

.recipe-panel section.ingredients > ol > li i.quantity {
    font-weight: bold;
    color: #333;
}

#content .search #results-or-examples > ol.results > li > button {
    background: yellow;
    margin-top: 20px;
    padding: 5px 10px;
}
#content .search #results-or-examples > ol.results > li > button:before {
    content: "\1f6d2";
    margin-right: 10px;
}

#content .search #results-or-examples > ol.results .ingredients {
    margin-top: 20px;
    column-gap: 1em;
    columns: 1;
}

.recipe-panel section.steps {
    margin-left: 2em;
    margin-top: 20px;
}

.recipe-panel section.steps > ol {
    counter-reset: recipe-steps-counter;
}

.recipe-panel section.steps > ol > li {
    list-style: none;
    counter-increment: recipe-steps-counter;
    margin-bottom: 5px;
}

.recipe-panel section.steps > ol > li::before {
    content: counter(recipe-steps-counter) ".";
    margin-left: -2em;
    width: 1.6em;
    text-align: right;
    float: left;
}

.recipe-panel section.steps > ol > li.prep {
    counter-reset: recipe-steps-counter;
    counter-increment: none;
}

.recipe-panel section.steps > ol > li.prep::before {
    content: "P. ";
}

/* We don't show the h3s (list titles anywhere, but we'll show steps
 * on larger devices.
 */
#content .search #results-or-examples > ol.results .ingredients > h3,
#content .search #results-or-examples > ol.results .steps > h3,
#content .search #results-or-examples > ol.results .steps {
    position: absolute;
    left: -9999px;
}

@media (min-width: 640px) {
    #content .search #results-or-examples > ol.results .ingredients {
        columns: 2;
    }
}

@media (min-width: 768px) {
    #content .search #results-or-examples > ol.results .steps {
        position: relative;
        left: 0;
    }
    #content .search #results-or-examples > ol.results .steps,
    #content .search #results-or-examples > ol.results .ingredients {
        margin-left: 2em;
    }
}

@media (min-width: 960px) {
    #content .search #results-or-examples > ol.results .ingredients {
        columns: 3;
    }
}

@media (min-width: 1100px) {
    #content .search #results-or-examples > ol.results .ingredients {
        columns: 4;
    }
}
